#container{
    height:100%;
    width:100%;
}
h1{
    font-size:55px;
    font-weight:medium;
    text-align:center;
    width:100%;
    text-shadow: 1px 2px 4px gray;
    padding:10px;
}
a{
    cursor:pointer;
}
.blength,.slength{
    font-size:25px;
}
