*{
    margin:0;
    padding:0;
    outline:none;
}
body{
    margin:0;
    padding:0;
    height:100%;
}
#container{
    width:960px%;
    margin:0 auto;
    overflow:hidden;
}
h1{
    font-size:55px;
    font-weight:medium;
    text-align:center;
    width:100%;
    text-shadow: 1px 2px 4px gray;
    padding:10px;
}
a{
    cursor:pointer;
}
.blength,.slength{
    font-size:25px;
}
